@import url("reset.css");

* {
  box-sizing: border-box;
}

body {
  background-color: #1a1a1a;
  
}

/* header formatting */

#masthead {
  margin-top: 15px;
  padding: 10px;
  height: 11vw;
  background-image: linear-gradient(to right, #333333, #b3b3b3,#f2f2f2, #b3b3b3, #333333);
  
}

.header-text {
  color: #fe4b03;
  /* text-align: center; */
  padding-top: 5px;
  
}

#motkilo {
  font-size:5vw;
  letter-spacing: 35px;
  /* text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3; */
}

#tech-co-text {
  font-size: 2vw;
  letter-spacing: 13px;
  word-spacing: 10px;
  /* text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3; */
}

/* Footer info */
.footer {
  height: 3vw;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0; 
  background-color: #1a1a1a;
}

.footer-text {
  color: #fe4b03;
  text-align: center;
  padding-top: 15px;
}


/* small screen less than 700px */ 
@media (max-width: 700px) {
  #masthead {
    margin-top: 15px;
    padding: 10px;
    height: 15vw;
    background-image: linear-gradient(to right, #333333, #b3b3b3,#f2f2f2, #b3b3b3, #333333);
  }

  #motkilo {
    font-size:6vw;
    letter-spacing: 15px;
    /* text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3; */
  }

  #tech-co-text {
    font-size: 3vw;
    letter-spacing: 10px;
    word-spacing: 5px;
    /* text-shadow: -1px 0 #b3b3b3, 0 1px #b3b3b3, 1px 0 #b3b3b3, 0 -1px #b3b3b3; */
  }


}